.img-box{
  background-image: url("../images/mainImg.jpg");
  height: 270px;

  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 1200px) {
    width: 1200px
  }
}