@import 'colors';

.YellowBg{
  height: 100vh;
  background: $mainOrange-light;
  box-sizing: border-box;
  padding: 15vh;
}

.LoginBox{
  width: 300px;
  height: 280px;

  background: white;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);

  margin: 0 auto;

  display: flex;
  flex-direction: column;

  padding: 30px 40px 40px 40px;

  img{
    margin: 0 auto;
    width: 150px;
    height: 80px;
    object-fit: contain;
  }

  .TextBox{
    width: 100%;
    font-size: 15px;
    padding: 8px 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: solid $mainYellow;
    border-width: 0px 0px 2px 0px;

    &.warn{
      border: solid tomato;
      border-width: 0px 0px 2px 0px;
    }
  }

  .login{
    width: 100%;
    font-size: 17px;
    padding: 6px;
    margin-top: 20px;
  }

  .TextButton {
    margin-top: 20px;
    color: gray;
    cursor: pointer;

    span{
      color: gray;
      border: solid gray;
      border-width: 0px 0px 1px 0px;
      font-size: 14px;

      a{
        color: inherit;
        text-decoration: none;
        outline: none;
      }

      &:first-child{
        float: left;
      }

      &:last-child{
        float: right;
      }

      &:hover{
        color: black;
      }
    }

  }
}