@import 'colors';
.Btn__more {
  width: 100%;
  padding: 1em;
  margin-bottom: 20px;
  border: 1px solid lightgrey;
}
.div__title_log {
  max-width: 1200px;
  min-width: 900px;
  margin-bottom: 0.5em;
  background: $mainBrown;
  color: $mainWhite;
  padding: 0.7em;
  font-size: 0.9em;
  box-sizing: border-box;

  @media only screen and (max-width: 1200px) {
    width: 900px;
  }
}