@import 'colors';
@mixin contents($basis) {
  flex-basis: $basis;
  display: flex;
  flex-direction: column;
}

@mixin div__number($size) {
  font-size: $size;
  font-weight: bold;
  color: black;
  padding: 0.5em;
}

@mixin div__menu($size, $color) {
  padding: 0.5em;
  font-size: $size;
  color: $color;
}

.MatchProfile{
  box-sizing: border-box;
  max-width: 1200px;
  min-width: 900px;
  margin-bottom: 1.2rem;

  section{
    display: flex;
  }
  .contents_left {
    @include contents(40%);
    margin-right: 2%;
    text-align: center;
  }
  .contents_right {
    @include contents(58%);
  }
  .image-list{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .div-wrapper-flex{
    display: flex;
  }
  .div-basis25{
    flex-basis: 25%;
  }
  .div-basis33{
    flex-basis: 33%;
  }
  .div-basis50{
    flex-basis: 50%;
  }
  .div_header {
    text-align: center;
    background: $mainBrown;
    color: $mainWhite;
    padding: 0.7em;
    font-size: 0.9em;
    margin-bottom: 0.5em;
  }
  .div__main_row {
    flex-basis: 33%;
    padding-bottom: 0.2em ;
    background: $mainWhite;
    border : 1px solid lightgrey;

    &.div__margin {
      margin-bottom: 0.8em;
    }
  }
  .div__menu_left_top {
    @include div__menu(0.9em, $mainGray);
  }
  .div__number_left_top {
    @include div__number(1.8em)
  }
  .div__menu_big {
    @include div__menu(0.9em, $mainWhite);

    background: $mainOrange-dark;
  }
  .div__menu_small {
    @include div__menu(0.8em, $mainGray);
  }
  .div__number {
    @include div__number(1em)
  }

  @media only screen and (max-width: 1200px) {
    width: 900px;
  }
}