@import 'colors';

.MatchLog {
  background: $mainWhite;
  box-sizing: border-box;
  width: 100%;
  border: solid lightgrey;
  border-width: 1px 1px 0 1px;

  section {
    display: flex;
  }

  .detail {
    display: flex;
    width: 99%;
    box-sizing: border-box;
    padding: 2em 0 2em 2em;
  }

  .detailItem {
    //background: tomato;
  }

  .itemList {
    display: flex;
    flex-direction: row;
  }
}