:global{
  body{
    font-family: 나눔스퀘어;
    margin: 0;
    padding: 0;

    button{
      cursor: pointer;
      outline-style: none;
    }

    input{
      outline-style: none;
    }
  }
}

// 공용, reset css 포함