:global{
  body{
    font-family: 나눔고딕;
    margin: 0;
    padding: 0;
    background: #fcfcfc;

    a{
      text-decoration: none;
    }

    button{
      cursor: pointer;
      outline-style: none;
    }

    input{
      outline-style: none;
    }

    img{
      display: block;
    }

    .clearfix{
      content: "";
      display: block;
      clear: both;
    }
  }
}

// 공용, reset css 포함