$mainOrange: #f98d2b;
$mainYellow: #ffd144;

article{
  height: 100vh;
  background: rgba(255, 208, 68, 0.2);
  box-sizing: border-box;
  padding: 25vh;
}

.LoginBox{
  width: 300px;
  height: 300px;

  background: white;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);

  margin: 0 auto;

  display: flex;
  flex-direction: column;

  padding: 20px 40px 40px 40px;

  img{
    margin: 0 auto;
    width: 150px;
    height: 80px;
  }

  .TextBox{
    width: 100%;
    font-size: 15px;
    padding: 8px 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: solid $mainYellow;
    border-width: 0px 0px 2px 0px;

    &.warn{
      border: solid tomato;
      border-width: 0px 0px 2px 0px;
    }
  }

  .RemainBox{
    margin: 0 auto;

    margin-top: 6px;

    text-align: center;
    vertical-align: middle;

    span{
      color: gray;
      font-size: 14px;
    }
  }

  button{
    background: $mainYellow;
    width: 100%;
    font-size: 17px;
    padding: 6px;
    margin-top: 20px;
    color: gray;
    border: none;
    vertical-align: middle;
    &:hover {
      background: $mainOrange;
      color: white;
    }
  }

  .TextButton {
    margin-top: 20px;
    color: gray;
    cursor: pointer;

    span{
      color: gray;
      border: solid gray;
      border-width: 0px 0px 1px 0px;
      font-size: 14px;

      a{
        color: inherit;
        text-decoration: none;
        outline: none;
      }

      &:first-child{
        float: left;
      }

      &:last-child{
        float: right;
      }

      &:hover{
        color: black;
      }
    }

  }
}